{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Use this area to provide additional information.</p>

<section class="form-container">
  <form submit.trigger="onSubmit()">
    <section class="field">
      <label class="label">Select a number!</label>
      <div class="control">
        <input class="input" type="number" name="number" required value.bind="number" />
      </div>
    </section>
    <div class="control">
      <button class="button">Submit</button>
    </div>
  </form>
</section>

{% endblock %}

{% block scripts %}
<script src="/static/scripts/about.js" type="module"></script>
{% endblock %}